<body>
    <div class="container">
      <div class="row">

        <div class="col-sm-12">
          <div class="card card-signin my-2">
            <div class="card-body">
              <h3 class="card-title text-center">What Can I Catch This Month?</h3>
              <div class="key">
                <span class="dot"></span><h6>Available Right Now</h6>
                <span class="dot1"></span><h6>New This Month</h6>
                <span class="dot2"></span><h6>Leaving Next Month</h6>
              </div>
              <app-current-fish></app-current-fish>
              <app-current-bugs></app-current-bugs>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>