h3 {
    text-align: center;
}




  
  @media only screen and (max-width: 700px) {
    .col-sm-12 {
      padding: 2px;
    }

    .card-signin .card-body{
      padding: 1px;
    }

    .dot, .dot1, .dot2 {
      height: 1em;
      width: 1em;
      margin: 0px 5px;
    }

    h6{
      display: block;
    }

    .card-signin .card-title {
      margin-bottom: 2px;
    }

  }
      