<div class="container">
    <div class="row justify-content">

            <div class="toggle">
                <!-- <span class="b">Bugs</span> -->
                <label class="switch">
                    <input type="checkbox" (click)="toggle()" id="bt">
                    <span class="slider round"></span>       
                </label>
                <!-- <span class="b">Fish</span> -->
            </div>
      

    <div class="row">
        <ng-container *ngIf="show">
            <app-current-fish></app-current-fish>
        </ng-container>
                
        <ng-container *ngIf="!show">
            <app-current-bugs></app-current-bugs>
        </ng-container>
    </div>
    </div>
</div>
