h3 {
    text-align: center;
}

.toggle {
  padding-top: 50px;
  margin: auto;
  width: 15%;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 1rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 1.5rem;
}

.key {
  text-align: center;
  margin-bottom: 10px;
}
  
  .dot {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
    background:#8DDAC1;
    display:inline-block;
    vertical-align:middle;
    margin:0 10px;
  }

  .dot1 {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
    background:#F2C14E;
    display:inline-block;
    vertical-align:middle;
    margin:0 10px;
  }

  .dot2 {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    text-align: center;
    background:#006D77;
    display:inline-block;
    vertical-align:middle;
    margin:0 10px;
  }

  h6 {
    // font-family:Arial, Helvetica, sans-serif;
    font-size:small;
    // color:#232323;
    display:inline-block;
    vertical-align:middle;
    text-align:left;
    font-weight:bold;
  }

  
  @media only screen and (max-width: 700px) {
    .col-sm-12 {
      padding: 2px;
    }

    .card-signin .card-body{
      padding: 1px;
    }

    .dot, .dot1, .dot2 {
      height: 1em;
      width: 1em;
      margin: 0px 5px;
    }

    h6{
      display: block;
    }

    .card-signin .card-title {
      margin-bottom: 2px;
    }

  }
      