.sideTom {
  width: 50%;
  vertical-align: middle;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.littleTom {
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.side {
  background-color: #8DDAC1;
  height: 100vh;
}
  .card-signin {
      border: 0;
      border-radius: 1rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }
    
    .card-signin .card-title {
      margin-bottom: 2rem;
      font-weight: 300;
      font-size: 1.5rem;
    }
    
    .card-signin .card-body {
      padding: 3rem;
    }
    
    .form-signin .btn {
      font-size: 80%;
      border-radius: 5rem;
      border: none;
      letter-spacing: .1rem;
      font-weight: bold;
      padding: 1rem;
      transition: all 0.2s;
      //background-color: #FFDF5D;
    }
    
    .form-label-group {
      position: relative;
      margin-bottom: 1rem;
    }
    
    .form-label-group input {
      height: auto;
      border-radius: 2rem;
    }
  
    
    .btn-login {
      color: white;
      background-color: #8DDAC1;
    }
    
  p {
    color: #007bff;
    text-align: center; 
  }

@media only screen and (max-width: 580px) {
  .sideTom, .side {
    display: none;
  }
}

@media only screen and (min-width: 580px) {
  .littleTom {
    display: none;
  }
}