
<body>

<div class="sidenav routerLinkActive=active">
  <a routerLink="home">
  <div class="square1">
    <img src="/assets/images/leaf.png">
  </div>
</a>

  
  <div class="square2">
    <a routerLink="critterpedia">
    <img src="/assets/images/fishing-net.png">
    <p>Critterpedia</p>
    </a>
  </div>
  
  <div class="square">
    <a routerLink="villagers">
    <img src="/assets/images/pet.png">
    <p>Villagers</p>
    </a>
  </div>

  <div class="square">
    <a routerLink="fossils">
    <img src="/assets/images/fossil.png">
    <p>Fossils</p>
    </a>
  </div>

  <div class="square">
    <a routerLink="settings">
    <img src="/assets/images/settings.png">
    <p>Settings</p>
    </a>
  </div>

    </div>
</body>

