<div class="home-container">
    <app-welcome></app-welcome>

        <div class="nav">

            <span class="wrapper" id="critterpedia">
                <img class="icon" style="background-color: #F4C1C8" routerLink="/critterpedia"
                    src="../../../assets/icons/nook-phone/Menu_Critterpedia_NH_Icon.png">
                <span>
                    <p>critterpedia</p>
                </span>
            </span>

            <!-- TODO: add back in routing once components are set up -->
            <span class="wrapper" id="museum">
                <img class="icon" src="../../../assets/icons/nook-phone/ReddsFlag.png">
                <!-- <img class="icon" routerLink="/museum" src="../../../assets/icons/nook-phone/ReddsFlag.png"> -->
                <span>
                    <p>museum</p>
                </span>
            </span>

            <span class="wrapper" id="villagers">
                <img class="icon" src="../../../assets/icons/nook-phone/Isabelle.jpg">
                <!-- <img class="icon" routerLink="/villagers" src="../../../assets/icons/nook-phone/Isabelle.jpg"> -->
                <span>
                    <p>villagers</p>
                </span>
            </span>

            <span class="wrapper" id="passport">
                <img class="icon" src="../../../assets/icons/nook-phone/Passport.png">
                <!-- <img class="icon" routerLink="/passport" src="../../../assets/icons/nook-phone/Passport.png"> -->
                <span>
                    <p>passport</p>
                </span>
            </span>

            <span class="wrapper" id="events">
                <img class="icon" src="../../../assets/icons/nook-phone/Calendar.png">
                <!-- <img class="icon" routerLink="/events" src="../../../assets/icons/nook-phone/Calendar.png"> -->
                <span>
                    <p>events</p>
                </span>
            </span>

        </div>
</div>