<div class="home-container">
    <app-welcome></app-welcome>

        <div class="nav">

            <span class="wrapper" id="critterpedia">
                <img class="icon" style="background-color: #97D6BD" routerLink="/critterpedia"
                    src="../../../assets/icons/nook-phone/chy.png">
                <span>
                    <p>Critterpedia</p>
                </span>
            </span>

            <!-- TODO: add back in routing once components are set up -->
            <span class="wrapper" id="museum">
                <img class="icon" src="../../../assets/icons/nook-phone/ReddsFlag.png">
                <!-- <img class="icon" routerLink="/museum" src="../../../assets/icons/nook-phone/ReddsFlag.png"> -->
                <span>
                    <p>Museum</p>
                </span>
            </span>

            <span class="wrapper" id="events">
                <img class="icon" src="../../../assets/icons/nook-phone/Calendar.png">
                <!-- <img class="icon" routerLink="/events" src="../../../assets/icons/nook-phone/Calendar.png"> -->
                <span>
                    <p>Events</p>
                </span>
            </span>

            <span class="wrapper" id="villagers">
                <img class="icon" src="../../../assets/icons/nook-phone/NH-Isabelle-Icon.png" style="background-color: #9ACDDC">
                <!-- <img class="icon" routerLink="/villagers" src="../../../assets/icons/nook-phone/Isabelle.jpg"> -->
                <span>
                    <p>Villagers</p>
                </span>
            </span>

            <span class="wrapper" id="passport">
                <img class="icon" src="../../../assets/icons/nook-phone/Passport.png">
                <!-- <img class="icon" routerLink="/passport" src="../../../assets/icons/nook-phone/Passport.png"> -->
                <span>
                    <p>Passport</p>
                </span>
            </span>



        </div>

        <!-- <div class="banner">
            <img class="banner" src="../../../assets/backgrounds/banner-bg-rounded.png">
        </div> -->
</div>