<div class="home-container">
    <div class="nav">
        <span class="wrapper">
            <img style="background-color: #97D6BD" routerLink="/critterpedia"
                src="../../../assets/icons/nook-phone/chy.png">
            <span>
                <p>Critterpedia</p>
            </span>
        </span>

        <!-- TODO: add back in routing once components are set up -->
        <span class="wrapper">
            <img src="../../../assets/icons/nook-phone/ReddsFlag.png">
            <!-- <img routerLink="/museum" src="../../../assets/icons/nook-phone/ReddsFlag.png"> -->
            <span>
                <p>Museum</p>
            </span>
        </span>

        <span class="wrapper">
            <img src="../../../assets/icons/nook-phone/Calendar.png">
            <!-- <img routerLink="/events" src="../../../assets/icons/nook-phone/Calendar.png"> -->
            <span>
                <p>Events</p>
            </span>
        </span>

        <span class="wrapper">
            <img src="../../../assets/icons/nook-phone/NH-Isabelle-Icon.png" routerLink="/villagers" style="background-color: #9ACDDC">
            <!-- <img routerLink="/villagers" src="../../../assets/icons/nook-phone/Isabelle.jpg"> -->
            <span>
                <p>Villagers</p>
            </span>
        </span>

        <span class="wrapper">
            <img src="../../../assets/icons/nook-phone/Passport.png">
            <!-- <img routerLink="/passport" src="../../../assets/icons/nook-phone/Passport.png"> -->
            <span>
                <p>Passport</p>
            </span>
        </span>
    </div>
</div>