.home-container {
    height: 100vh;
    .nav {
        padding-top: 10%;
        justify-content: center;
        column-gap: 5rem;

        .wrapper {
            border-radius: 20px;
            padding: 0.5rem 0.5rem 1.5rem;
            background-color: #e6dfc2;
            cursor: pointer;

            img {
                height: 11rem;
                width: 11rem;
                border: 0.5rem solid #fcf6de;
                border-radius: 15px;
            }

            p {
                font-size: 1.5rem;
                margin-top: 1.5rem;
                color: #815821;
            }
        }

        .wrapper:hover {
            transform: translateY(-30px);
            transition: transform 1.2s ease-in-out;
        }
    }
}
