<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-2">
            <div class="card-body">
                <table class="table table-hover table-bordered ">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Name</th>
                        </tr>
                    </thead>   
                    <tbody>
                    <tr class="table" *ngFor="let f of fish | keyvalue: originalOrder" >
                        <td>{{f.key}}</td>
                        <td>
                            <img src="http://acnhapi.com/icons/fish/{{f.value['id']}}">
                        </td>    
                        <td>
                            {{f.value['name']| lowercase}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
    <!-- Table View -->
    <!-- <table class="table table-hover table-responsive">
        <thead class="thead-light">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Location</th>
                <th>Shadow Size</th>
                <th>Available Times</th>
                <th>Available Months (Northern)</th>
                <th>Available Months (Southern)</th>
                <th>Price</th>
                <th>CJ's Price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table" *ngFor="let f of fish | keyvalue: originalOrder">
                <td>
                    <img src="http://acnhapi.com/icons/fish/{{f.value['id']}}">
                </td>
                <td>
                    {{f.value['name']}}
                </td>
                <td>
                    {{f.value['location']}}
                </td>
                <td>
                    {{f.value['shadow_size']}}
                </td>
                <td *ngIf="f.value['times']['text'] == 'All Day'"> 
                    All Day
                </td>
                <td *ngIf="f.value['times']['text'] !== 'All Day'"> 
                    {{f.value['times']['text']}}
                </td>
                <td *ngIf="f.value['months']['northern']['text'] == 'Year Round'"> 
                    All Day
                </td>
                <td *ngIf="f.value['months']['northern']['text'] !== 'Year Round'"> 
                    {{f.value['times']['text']}}
                </td>
                <td *ngIf="f.value['months']['southern']['text'] == 'Year Round'"> 
                    All Day
                </td>
                <td *ngIf="f.value['months']['southern']['text'] !== 'Year Round'"> 
                    {{f.value['times']['text']}}
                </td>
                <td>
                    {{f.value['price']}}
                </td>
                <td>
                    {{f.value['price'] * 1.5}}
                </td>
            </tr>
        </tbody>
    </table>
-->


