<body>
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12 header">
            </div>
        </div>

        <div class="row">

            <!-- Fish grid -->
            <div class="col-sm-8">
                <div class="card card-signin my-5">
                    <div class="card-body">  
                        <h5 class="card-title text-center">Fish</h5>
                        <div class="row scroll">
                            <div class="col-4 col-sm-3 align-items-center text-center fishGrid" (click)="onSelect(f)" *ngFor="let f of fish">
                                <img  class="icon" src="http://acnhapi.com/icons/fish/{{f['id']}}">
                                <p>{{f['name']}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Fish detail view -->
            <div class="col-sm-4 detail">
                <div class="card card-signin my-5">
                    <div class="card-body"> 
                      <!-- <h5 class="card-title text-center" *ngIf="!selectedFish">Pick A Fish Any Fish</h5> -->
                      <div *ngIf="selectedFish">
                      <h5 class="card-title text-center">{{selectedFish['name']}}</h5>
 
                      <table class="table">
                          <tr>
                            <td>Price</td>
                            <td class="text-right">{{selectedFish['price']}} bells</td>
                          </tr>
                          <tr>
                            <td>CJ's Price</td>
                            <td class="text-right">{{selectedFish['price']*1.5}} bells</td>
                          </tr>
                          <tr>
                              <td>Location</td>
                              <td class="text-right">{{selectedFish.location}}</td>
                          </tr>
                          <tr>
                            <td>Shadow Size</td>
                            <td class="text-right">{{selectedFish.shadow_size}}</td>
                        </tr>
                          <tr>
                              <td>Available Times</td>
                              <td class="text-right">{{selectedFish['times']['text']}}</td>
                          </tr>
                          <tr>
                              <td>Northern Months</td>
                              <td class="text-right">{{selectedFish['months']['northern']['text']}}</td>
                          </tr>
                          <tr>
                            <td>Southern Months</td>
                            <td class="text-right">{{selectedFish['months']['southern']['text']}}</td>
                        </tr>
                      </table>
                      
                      <button class="button">I've Caught It!</button>

                      </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="footer"></div>
        <img class="cj" src="assets/images/CJ.png">
        
    </div>
</body>















<!-- <body>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-sm-8 list scroll ">
                <table class="table table-hover table-responsive-sm table-bordered">
                    <thead class="thead-light">
                        <tr class="head">
                            <th></th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Months Available (N)</th>
                            <th>Months Available (S)</th>
                            <th>Price</th>
                        </tr>
                    </thead>   
                    <tbody>
                    <tr (click)="onSelect(f)" class="table" *ngFor="let f of fish | keyvalue: originalOrder" >
                        <td class="icon text-center">
                            <img src="http://acnhapi.com/icons/fish/{{f.value['id']}}">
                        </td>    
                        <td>
                            {{f.value['name']}}
                        </td>
                        <td>
                            {{f.value['location']}}
                        </td>
                        <td>
                            {{f.value['months']['northern']['text']}}
                        </td>
                        <td>
                            {{f.value['months']['southern']['text']}}
                        </td>
                        <td class="price text-center">
                            {{f.value['price']}} 
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
Details for Selected Fish
            <div class="col-sm-4 details">
                <div class="detailBox">
If a fish hasn't been selected
                    <div *ngIf="!selectedFish">
                        <div *ngFor="let f of fish | keyvalue">
                            <div *ngIf="f.key == 0">
                                <div class="text-center">
                                    <img class="icon2" src="http://acnhapi.com/icons/fish/{{f.value['id']}}">
                                </div> 
                                <h1>{{f.value['name']}}</h1>
                                <h6>{{f.value['price']}} bells</h6>
                                <h6>{{f.value['price'] * 1.5}} bells from CJ</h6>
                                <div class="deets">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            Location 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['location']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Shadow Size
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['shadow_size']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Available Times 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['times']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Nothern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['months']['northern']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Southern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['months']['southern']['text']}} 
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
If selected fish     
                    <div *ngIf="selectedFish">
                                <div class="text-center">
                                    <img class="icon2" src="http://acnhapi.com/icons/fish/{{selectedFish.value['id']}}">
                                </div> 
                                <h1>{{selectedFish.value['name']}}</h1>
                                <h6>{{selectedFish.value['price']}} bells</h6>
                                <h6>{{selectedFish.value['price'] * 1.5}} bells from CJ</h6>
                                <div class="deets">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            Location 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedFish.value['location']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Shadow Size
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedFish.value['shadow_size']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Available Times 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedFish.value['times']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Nothern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedFish.value['months']['northern']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Southern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedFish.value['months']['southern']['text']}} 
                                        </div>
                            </div>
                        </div>
                    </div>        
                </div>

                
            </div>
        </div>
    </div>
</body> -->