<body>
    <div class="container-fluid">
        <div class="row justify-content-between">
<!-- Table for all fish in JSON -->
            <div class="col-sm-8 list scroll ">
                <table class="table table-hover table-bordered">
                    <thead class="thead-light">
                        <tr class="head">
                            <th></th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Months Available (N)</th>
                            <th>Months Available (S)</th>
                            <th>Price</th>
                        </tr>
                    </thead>   
                    <tbody>
                    <tr (click)="onSelect(f)" class="table" *ngFor="let f of fish | keyvalue: originalOrder" >
                        <td class="icon text-center">
                            <img src="http://acnhapi.com/icons/fish/{{f.value['id']}}">
                        </td>    
                        <td>
                            {{f.value['name']}}
                        </td>
                        <td>
                            {{f.value['location']}}
                        </td>
                        <td>
                            {{f.value['months']['northern']['text']}}
                        </td>
                        <td>
                            {{f.value['months']['southern']['text']}}
                        </td>
                        <td class="price text-center">
                            {{f.value['price']}} 
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
<!-- Details for Selected Fish -->
            <div class="col-sm-4 details">
                <div class="detailBox">
<!-- If a fish hasn't been selected -->
                    <div *ngIf="!selectedFish">
                        <div *ngFor="let f of fish | keyvalue">
                            <div *ngIf="f.key == 0">
                                <div class="text-center">
                                    <img class="icon2" src="http://acnhapi.com/icons/fish/{{f.value['id']}}">
                                </div> 
                                <h1>{{f.value['name']}}</h1>
                                <h6>{{f.value['price']}} bells</h6>
                                <h6>{{f.value['price'] * 1.5}} bells from CJ</h6>
                                <div class="deets">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            Location 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['location']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Shadow Size
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['shadow_size']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Available Times 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['times']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Nothern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['months']['northern']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Southern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{f.value['months']['southern']['text']}} 
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</body>