.row {
    padding: 10px;
}

.nav-link {
    padding: 1rem 2rem;
}


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color:  #8ddac1;
    color: white;
    text-align: center;
 }

.vendor{
    width: 20%;
    position:fixed;
    bottom:0px;
    left:77%;
}

.header {
    background-color: black;
}

.icon {
    width: 55%;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.icon:hover{
    cursor: pointer;
}

h6 {
    display: inline-block;
}
p {
    margin-top: 3px;
    font-size: 13px;
    text-align: center;
    color: #007bff;
    font-weight: 600;
}

.name {
    text-align: center;
    color: #007bff;
    font-weight: 600;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.table td {
    padding: .25rem;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8DDAC1;
    border: none;
    border-radius: 15px;

  }


  .scroll {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scroll {
      -ms-overflow-style: none;
  }

@media only screen and (max-width: 580px) {
    .icon {
        width: 100%;
    }

    .card-signin .card-body{
        padding: 0px;
    }

    .scroll {
        height: 500px;
    }

    .nav-link{
        padding: 1rem .25rem;
    }

    .footer, .vendor{
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .icon {
        width: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .icon { width: 100%;}
}