body {
    background-color: #f0f0f0;
    margin-left: 100px;
}

.row {
    padding: 30px;
}

.col-sm-3, .col-lg-3 {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
}

h4 {
    margin-top: 12px;
    display: inline-block
}

.selected {
    font-weight: 600;
}


@media only screen and (max-width: 600px) {
    .options {
        display: none;
    }
    .row {
        padding: 0px;
    }
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 30px;
    }
    .col-sm-3 {
        padding-left: 0px;
    }

    h4 {
        font-size: 1.25rem;
    }
}
