@import 'src/styles.scss';

.nav-link {
    padding: 1rem 2rem;
}

.my-5 {
    margin-top: 1rem !important;
}
.icon {
    width: 55%;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 50%;
}

.icon:hover{
    cursor: pointer;
}

p {
    margin-top: 3px;
    font-size: 13px;
    text-align: center;
    color: #007bff;
    font-weight: 600;
}

.vendor{
    width: 17%;
    position:fixed;
    bottom:0px;
    left:77%;
}


.name {
    text-align: center;
    color: #007bff;
    font-weight: 600 !important;
}
.row {
    margin-left: 0px;
    margin-right: 0px;
}

.table td {
    padding: .25rem;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: $primary-blue;
    border: none;
    border-radius: 15px;

  }

  .scroll {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scroll {
      -ms-overflow-style: none;
  }

.hour {
    border: solid;
    border-color:$aqua;
    border-radius: 50%;
}   

@media only screen and (max-width: 850px) {
    .key {
        margin-left: 0px;
    }

    .icon {
        width: 110%;
    }

    .card-body{
        padding: 0px;
    }

    .scroll {
        height: 400px;
    }

}

@media only screen and (min-width: 1000px) {
    .icon {
        width: 40%;}
    }
    

    
@media only screen and (max-width: 850px) {
    .nav-link{
        padding: 1rem .25rem;
    }

    .footer, .vendor{
        display: none;
    }
}
