<header>
  <app-welcome></app-welcome>
</header>

<div class="critter-mode">
  <button class="critter-button" (click)="switchTabs('bugs')">
    <img class="iconx" src="assets/bug-transparent.png">
  </button>
  <button class="critter-button" (click)="switchTabs('fish')">
    <img class="iconx" src="assets/fish-transparent.png">
  </button>

  <button class="critter-button" (click)="switchTabs('sea')">
    <img class="iconx" src="assets/deep-transparent.png">
  </button>
</div>

<div class="critterpedia-container">
  <app-critterpedia-table [critterpediaMode]="activeTab"></app-critterpedia-table>
</div>
