.nav-link {
    padding: 1rem 2rem;
}


.vendor{
    width: 18%;
    position:fixed;
    bottom:0px;
    left:77%;
}


@media only screen and (max-width: 850px) {
    .nav-link{
        padding: 1rem .25rem;
    }

    .footer, .vendor{
        display: none;
    }
}
