<app-nav></app-nav>
<body>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a (click)="onBugs()" class="nav-item nav-link active" id="nav-bugs-tab" data-toggle="tab" href="#nav-bugs" role="tab" aria-controls="nav-bugs" aria-selected="false">Bugs</a>
      <a (click)="onFish()" class="nav-item nav-link" id="nav-fish-tab" data-toggle="tab" href="#nav-fish" role="tab" aria-controls="nav-fish" aria-selected="true">Fish</a>
    </div>
  </nav>

  <div *ngIf="bugView"><app-bugs></app-bugs></div>
  <div *ngIf="fishView"><app-fish></app-fish></div>

  <div class="footer"></div>
  <img class="vendor" src="assets/images/{{vendor}}.png">
</body>

