img {
    height: 40%;
    width: auto;
}

.scroll {
    display: block;
    width: 200px;
    height: 760px;
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scroll {
      -ms-overflow-style: none;
  }

td {
    padding: 4px;
}

.icon {
    width: 10%;
}

.price {
    width: 10%;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
}

body {
    margin-left: 100px;
    margin-right: 15px;
    background-color: #f0f0f0;
    height: 100%;
}

.details {
    background-color: white;
    padding: 20px;
}

.list {
    background-color: white;
    padding: 20px;
}

.detailBox {
    background-color: #f0f0f0;
    margin-right: 5px;
    height: 710px;
}

.icon2 {
    width: 40%;
    margin-top: 40px;
    background-color:white;
    border-radius: 50%;
}

h1, h6 {
    font-family: 'Nunito', sans-serif;
    text-align: center;
}

h1 {
    padding-top: 20px;
}

.jumbotron {
    margin: 0px;
    background-color: white;
}

.deets {
    // background-color: white;
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 10px;
    border-radius: 10px;
}

.col-sm-6 {
    margin-top: 10px;
    padding: 10px;
    background-color: white;
}


@media only screen and (max-width: 600px) {
    .options {
        display: none;
    }
    .row {
        padding: 0px;
    }
}

@media only screen and (max-width: 1040px) {
    h1 {
        font-size: 30px;
    }
    .col-sm-3 {
        padding-left: 0px;
    }

    h4 {
        font-size: 1.25rem;
    }

    .deets {
        display: hidden;
    }
}