@import 'src/styles.scss';

.name {
    text-align: center;
    color: $primary-blue;
    font-weight: 600 !important;
}

.table td {
    padding: .25rem;
}

.button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 15px;
    // cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
  }

.btn-custom {
    color: #fff;
    background-color: $aqua;
}
  
.icon{
    background-color: $icon-grey;
    border-radius: 50%;
    width: 40%;
    padding: 10px;
}

form {
    padding: 15px;
}

.icon:hover, .button {
    cursor: pointer;
}
  .scroll {
    width: 100%;
    height: 600px;
    overflow-y: scroll;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scroll::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scroll {
      -ms-overflow-style: none;
  }


.vendor{
    width: 14%;
    position:fixed;
    bottom:0px;
    left:79%;
}

@media only screen and (max-width: 850px) {
    .scroll {
        height: 400px;
    }

    .icon {
        width: 100%;
    }

    .vendor {
        display: none;
    }
}

