
<h3>Bugs Available This Month</h3>
<div class="row narrow-gutters">
    <div class="col-4 col-sm-3 d-flex flex-column align-items-center text-center mb-3" *ngFor="let bug of currentBugs">
        <img class="icon" src="http://acnhapi.com/icons/bugs/{{bug['id']}}">
        <p>{{bug['name']}}</p>
    </div>
</div>

<h3>Bugs Available All Year</h3>
<div class="row narrow-gutters">
    <div class="col-4 col-sm-3 d-flex flex-column align-items-center text-center mb-3" *ngFor="let bug of alwaysBugs">
        <img class="icon" src="http://acnhapi.com/icons/bugs/{{bug['id']}}">
        <p>{{bug['name']}}</p>
    </div>
</div>
