.icon {
    width: 100%;
    height: auto;
}

h3 {
    text-align: center;
}

      
    
    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
      }
      
      .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
      }
      
      .card-signin .card-body {
        padding: 3rem;
      }
      

    