<div class="table-container">
    <div class="scrollable-container">
        <div class="critterpedia-container container">
            <div class="row">
                <div class="col-sm-2" *ngFor="let villager of villagersList | keyvalue">
                    <img [ngClass]="{'selected': villager.value === selectedVillager}" class="icon"
                        src="{{villager.value['iconURI']}}"
                        (click)="selectVillager(villager)">
                </div>
            </div>
        </div>
    </div>

    <div class="info-panel">
        <app-villager-info-dialog 
            [selectedVillager]="selectedVillager" 
            (emitAddedVillager)="onAddClicked($event)">
        </app-villager-info-dialog>
    </div>

</div>