.table-container {
    display: inline-flex;
    width: 100%;

    .scrollable-container {
        overflow-y: scroll;
        height: 70vh;
        width: 70%;
        margin-right: 5%;

        .critter-icon {
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        .critter-icon:hover {
            transform: scale(0.75);
        }

        .selected {
            background-color: #e6dfc2;
            border-radius: 45%;
            transform: scale(0.75);
        }
    }

    .info-panel {
        width: 30%;
        margin-right: 5%;
    }
}
