<div class="container">
  <div class="row justify-content-center">
  <div class="col-6">
    <h2>Available This Month</h2>
    <div class="row justify-content-center">
      <div *ngFor="let fish of currentFish">
        <div class="col-md-">
          <i><img class="icon" src="http://acnhapi.com/icons/fish/{{fish['id']}}"/></i>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-1"></div>
 
  <div class="col-5">
    <h2>Year Round</h2>
    <div class="row justify-content-center">
      <div *ngFor="let fish of alwaysFish">
        <div class="col-md-">
          <i><img class="icon" src="http://acnhapi.com/icons/fish/{{fish['id']}}"/></i>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


