.col-sm-12 {
  padding: 0px;
}

.row {
  height: 150px;
  overflow: hidden;
}

.icon {
  width: 120%;
}

@media only screen and (max-width: 700px) {
  .icon {
    width: 60%;
  }

  .row {
    height: 250px;
    overflow: hidden;
  }
}     
