.col-sm-12 {
  padding: 0px;
}

// .row {
//   // height: 150px;
//   // overflow: hidden;
// }

.icon {
  width: 50%;
}

@media only screen and (max-width: 850px) {
  .icon {
    width: 100%;
  }

}     
