.icon {
  width: 70px;
  padding: 5px;
}

h2 {
    text-align: center;
    padding: 10px;
    font-family: 'Nunito', sans-serif;
}

i {
  background:#f0f0f0;
  border-radius: 50%;
  display: inline-block;
  padding: 5px;
  margin: 10px;
}

@media only screen and (max-width: 1000px) {

}
