.row {
  margin-left: 0px;
  margin-right: 14px;
}

.col-sm-6, .col-sm-5 {
  background-color: white;
  border-radius: 15px;
  padding: 2%;

}
.icon {
  width: 60px;
  padding: 5px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin: 8px;
}

.scroll {
  width: 100%;
  height: 200px;
  overflow-y: scroll; 
}

h4 {
  text-align: center;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.scroll {
    -ms-overflow-style: none;
}

@media only screen and (max-width: 700px) {
  .col-sm-6{
    margin-bottom: 10px;
  }
}
