<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <h4>Available This Month</h4>
    <div class="row justify-content-center scroll bugs">
      <div *ngFor="let bug of currentBugs">
        <div class="col-sm-">
          <a routerLink='/critterpedia/bugs' ><img class="icon" src="http://acnhapi.com/icons/bugs/{{bug['id']}}"/></a>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-1"></div>
 
  <div class="col-sm-5">
    <h4>Year Round</h4>
    <div class="row justify-content-center scroll bugs">
      <div *ngFor="let bug of alwaysBugs">
        <div class="col-sm-">
          <i><img class="icon" src="http://acnhapi.com/icons/bugs/{{bug['id']}}"/></i>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<!-- <h2>
  {{bugs}}/80
</h2> -->
