<div class="container">
  <div class="row justify-content-center">
  <div class="col-sm-6">
    <h2>Available This Month</h2>
    <div class="row justify-content-center bugs">
      <div *ngFor="let bug of currentBugs">
        <div class="col-sm-">
          <i><img class="icon" src="http://acnhapi.com/icons/bugs/{{bug['id']}}"/></i>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-sm-1"></div>
 
  <div class="col-sm-5">
    <h2>Year Round</h2>
    <div class="row justify-content-center bugs">
      <div *ngFor="let bug of alwaysBugs">
        <div class="col-sm-">
          <i><img class="icon" src="http://acnhapi.com/icons/bugs/{{bug['id']}}"/></i>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<!-- <h2>
  {{bugs}}/80
</h2> -->
