<div class="container mt-5">
    <div class="form">
        <form [formGroup]="filterForm">
            <div class="dropdown">
                <select class="btn btn-secondary dropdown-toggle" (change)="filter()" formControlName="species">
                    <option value="">Species</option>
                    <option *ngFor="let species of speciesList" [ngValue]="species">
                        {{ species }}
                    </option>
                </select>

                <select class="btn btn-secondary dropdown-toggle" (change)="filter()" formControlName="personality">
                    <option value="">Personality</option>
                    <option *ngFor="let personality of personalityList" [ngValue]="personality">
                        {{ personality }}
                    </option>
                </select>

                 {{filterForm.value | json}}

                <button class="btn btn-secondary" click="onClear()" type="button">clear</button>
            </div>
        </form>
    </div>
</div>