<div class="critterpedia-header-container">
  <div class="banner">
      <img src="./../../../assets/icons/chy.webp">
      <span>Critterpedia</span>
  </div>
  
  <app-critterpedia-search
    [critterList]="filteredCritterList" 
    (critterTypeClicked)="onTabsSwitched($event)"
    (availableNowClicked)="onAvailableNowClicked($event)">
  </app-critterpedia-search>
</div>


<div class="critterpedia-container" *ngIf="filteredCritterList">
  <app-critterpedia-table 
    [critterpediaMode]="critterpediaMode" 
    [critterList]="filteredCritterList" 
    (caughtClicked)="addCritterToDB($event)" 
    (removeClicked)="removeCritterFromDB($event)"
    [caughtCritters]="stateService.userCollectedList$ | async">
  </app-critterpedia-table>
</div>