@import "src/styles.scss";

header {
    position: relative;
    height: 130px;
    background-image: url(../../../assets/icons/banner-bg-rounded.png);
}

.critterpedia-container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5rem;
}
