@import "src/styles.scss";

.critterpedia-header-container {
    .banner {
        display: inline-block;
        width: 35%;
        background-color: #e6dfc2;
        height: 6rem;
        color: #815821;
        border-radius: 0px 65px 65px 0px;

        img {
            height: 8rem;
            margin-left: 2rem;
        }

        span {
            font-size: 3rem;
            margin-left: 3rem;
        }
    }
}

.critterpedia-container {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
}
