// [TECH-DEBT]: global styles
div {
    background-color: cornsilk;
    background-size: cover;
    font-family: "Nunito", sans-serif;

    header {
        position: relative;
        height: 111px;
    }
}