<!-- <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h3 class="card-title text-center">Birthdays</h3>
            <div class="row narrow-gutters">
                <div class="d-flex flex-column align-items-center text-center " *ngFor="let villager of villagers | keyvalue">
                  <div *ngIf="villager.value['birthday']===bdayFormat">
                      <P>Today is {{villager.value['name']['name-en']}}'s birthday! </P>
                      <img class="villager" src="https://acnhapi.com/v1/images/villagers/{{villager.value['id']}}">
                  </div> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-2">
            <div class="card-body">
              <h3 class="card-title text-center">Events This Month</h3>
              <div class="row narrow-gutters" *ngFor="let event of eventsList | keyvalue">
                  <div class="d-flex flex-column align-items-center text-center" *ngIf="event.key == currentMonth">
                      <span *ngFor="let e of event.value | keyvalue">
                          <span><strong>{{e.value['name']}}</strong></span>
                          <br>
                          <span class="small">{{e.value['date-str']}}</span>
                      </span>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>