// h3 {
//     padding-top: 15px;
//     padding-bottom: 5px;
//     font-family: 'Nunito', sans-serif;
//     font-size: 1.5rem;
// }


// .events {
//     display: block;
// }
// h6, p {
//     padding: 0px;
//     text-align: center;
//     font-family: 'Nunito', sans-serif;
// }

// @media only screen and (max-width: 1000px) {
//     h3{
//         font-size: 35px;
//     }
//     h6 {
//         font-size: 25px;
//     }
//     p {
//         font-size: 20px;
//     }
// }