.passport-shell-container {
    height: 30rem;
    width: 50rem;
    background-color: rgb(217,208,190);
    border-radius: 0 0 50px 50px;
    position: relative;

    .inner-shell {
        background-color: rgb(252,250,228);
        height: 29.5rem;
        width: 50rem;
        border-radius: inherit;
        position: absolute;

        .innermost-shell {
            background-color: white;
            height: 28rem;
            position: absolute;
            width: 96%;
            border-radius: 50px;
            margin: 1rem;
            background-image: url(../../../assets/backgrounds/green-leaves.jpg);
            background-size: cover;

            .passport-title {
                height: 2rem;
                margin: 1rem;
                text-align: center;
                font-size: 1rem;
                font-family: "Nunito", sans-serif;
            }
        }
    }
}
