<div class="scroll">
  <div class="row">
    <div class="col-sm-4">
      <div *ngFor="let b of bdays| keyvalue">
        <img class="villager" src="https://acnhapi.com/v1/icons/villagers/{{b.value['id']}}">
        <p class="text-center">{{b.value['name']['name-en']}}</p>
      </div>
    </div>
    <div class="col-sm-8">
      <div *ngFor="let b of bdays| keyvalue">
        <table class="table">
          <tr>
            <td>Gender</td>
            <td><p>{{b.value['gender']}}</p></td>
          </tr>
        
          <tr>
            <td>Species</td>
            <td><p>{{b.value['species']}}</p></td>
          </tr>
        
          <tr>
            <td>Personality</td>
            <td><p>{{b.value['personality']}}</p></td>
          </tr>
        
          <tr>
            <td>Catch Phrase</td>
            <td><p>{{b.value['catch-phrase']}}</p></td>
          </tr>
        </table>
      
      </div>
    </div>
  </div>

</div>

