.villager {
    width: 40%;
    height: auto;
    border-radius: 50%;
    display:block;
    margin:auto;
}

// .icon {
//     text-align: center;
//     padding-top: 15px;
// }

// h3, h6 {
//     font-family: 'Nunito', sans-serif;
// }
// @media only screen and (max-width: 1000px) {
//     .villager {
//       width: 50%;
//       border-radius: 50%;
//       text-align: center;
//     }

// }