<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-2">
          <div class="card-body">
            <h3 class="card-title text-center">Birthdays</h3>
            <div class="row narrow-gutters">
                <div class="d-flex flex-column align-items-center text-center " *ngFor="let villager of villagers | keyvalue">
                  <div *ngIf="villager.value['birthday']===bdayFormat">
                      <P>Today is {{villager.value['name']['name-en']}}'s birthday! </P>
                      <img class="villager" src="https://acnhapi.com/v1/images/villagers/{{villager.value['id']}}">
                  </div> 
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
