@import "src/styles.scss";

img {
    position: fixed;
    top: 15px;
    width: 80px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.7s ease-in-out;
}

img:hover {
    transform: rotate(360deg);
}
