.events-card-container {
    width: 100%;
    display: inline-block;

    .birthday-cards {
        display: inline-block;
        width: 24%;
    }

    .event-cards {
        width: 70%;
        display: inline-block;

        .card {
            display: inline-block;
        }
    }
}