<div *ngIf="new">
    <div class="container">
    <form (ngSubmit)="onSubmit()" #profileForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name"
                 [(ngModel)]="displayName" name="name">
        </div>
        <div class="form-group">
          <label for="islandName">Island Name</label>
          <input type="text" class="form-control" id="islandName"
                 [(ngModel)]="islandName" name="islandName"
                 >
        </div>
      
        <div class="form-group">
          <label for="fruit">Native Fruit</label>
          <select class="form-control" id="fruit"
                  [(ngModel)]="nativeFruit" name="fruit"
                  >
            <option *ngFor="let fr of fruit" [value]="fr">{{fr}}</option>
          </select>
        </div>
      
        <div class="form-group">
          <label for="flower">Native Flower</label>
          <select class="form-control" id="flower"
                  [(ngModel)]="nativeFlower" name="flower"
                  #flower="ngModel">
            <option *ngFor="let f of flowers" [value]="f">{{f}}</option>
          </select>
        </div>
  <button type="submit" class="btn btn-success" (click)="update(profileForm)">Update Profile</button>
      </form>
      </div>
    </div>

    <div *ngIf="!new">
        no
        </div>