@import 'src/styles.scss';

body {
    // background-color: #F0AD53;
    // height: 100vh;
}

// img {
//     width: 50%;
//     position: fixed;
//     bottom: 0px;
    
// }

.icon {
    position: fixed;
    width: 10%;
    right: 0;

}