<body>
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-5">
                <div class="card card-custom my-5">
                    <div class="card-body">
                        <a routerLink="/login" class="card-title text-center">Returning User</a><br>
                        <a routerLink="/register" class="card-title text-center">New User</a><br>
                        <a routerLink="/home" class="card-title text-center">I just want to browse!</a>
                </div>
                </div>
            </div>

            <div class="col-sm-6 image">
                <img src="/assets/images/tt.png">
            </div>

            <!-- <div class="col-sm-3">
                <div class="card card-custom my-5">
                    <div class="card-body">
                      <a routerLink="/home" class="card-title text-center">I just want to browse!</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</body>