<body>
    <div class="container-fluid">
        <div class="row justify-content-between">
<!-- Table for all bug in JSON -->
            <div class="col-sm-8 list scroll ">
                <table class="table table-hover table-responsive-sm table-bordered">
                    <thead class="thead-light">
                        <tr class="head">
                            <th></th>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Months Available (N)</th>
                            <th>Months Available (S)</th>
                            <th>Price</th>
                        </tr>
                    </thead>   
                    <tbody>
                    <tr (click)="onSelect(b)" class="table" *ngFor="let b of bugs | keyvalue: originalOrder" >
                        <td class="icon text-center">
                            <img src="http://acnhapi.com/icons/bugs/{{b.value['id']}}">
                        </td>    
                        <td>
                            {{b.value['name']}}
                        </td>
                        <td>
                            {{b.value['location']}}
                        </td>
                        <td>
                            {{b.value['months']['northern']['text']}}
                        </td>
                        <td>
                            {{b.value['months']['southern']['text']}}
                        </td>
                        <td class="price text-center">
                            {{b.value['price']}} 
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
<!-- Details for Selected Bug -->
            <div class="col-sm-4 details">
                <div class="detailBox">
<!-- If a bug hasn't been selected -->
                    <div *ngIf="!selectedBug">
                        <div *ngFor="let b of bugs | keyvalue">
                            <div *ngIf="b.key == 0">
                                <div class="text-center">
                                    <img class="icon2" src="http://acnhapi.com/icons/bugs/{{b.value['id']}}">
                                </div> 
                                <h1>{{b.value['name']}}</h1>
                                <h6>{{b.value['price']}} bells</h6>
                                <h6>{{b.value['price'] * 1.5}} bells from Flick</h6>
                                <div class="deets">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            Location 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{b.value['location']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Available Times 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{b.value['times']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Nothern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{b.value['months']['northern']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Southern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{b.value['months']['southern']['text']}} 
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
<!--If selected bug-->     
                    <div *ngIf="selectedBug">
                                <div class="text-center">
                                    <img class="icon2" src="http://acnhapi.com/icons/bugs/{{selectedBug.value['id']}}">
                                </div> 
                                <h1>{{selectedBug.value['name']}}</h1>
                                <h6>{{selectedBug.value['price']}} bells</h6>
                                <h6>{{selectedBug.value['price'] * 1.5}} bells from Flick</h6>
                                <div class="deets">
                                    <div class="row">
                                        <div class="col-sm-6 text-left">
                                            Location 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedBug.value['location']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Available Times 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedBug.value['times']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Nothern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedBug.value['months']['northern']['text']}} 
                                        </div>
                                        <div class="col-sm-6 text-left">
                                            Southern Months 
                                        </div>
                                        <div class="col-sm-6 text-right">
                                            {{selectedBug.value['months']['southern']['text']}} 
                                        </div>
                                        <div>

                                        </div>
                            </div>
                        </div>
                    </div>        
                </div>

                
            </div>
        </div>
    </div>
</body><!-- <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-2">
            <div class="card-body">
                <table class="table table-hover table-bordered table-responsive">
                    <thead class="thead-light">
                        <tr>
                            <th>#</th>
                            <th></th>
                            <th>Name</th>
                        </tr>
                    </thead>   
                    <tbody>
                    <tr class="table" *ngFor="let bug of bugs | keyvalue: originalOrder" >
                        <td>{{bug.key}}</td>
                        <td>
                            <img src="http://acnhapi.com/icons/bugs/{{bug.value['id']}}">
                        </td>    
                        <td>
                            {{bug.value['name']| lowercase}}
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <!-- <div class="container">
<table class="table table-hover table-responsive">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Location</th>
            <th>Time</th>
            <th>Month (Northern)</th>
            <th>Month (Southern)</th>
            <th>Price</th>
            <th>Flick's Price</th>
        </tr>
    </thead>   
    <tbody>
    <tr class="table" *ngFor="let bug of bugs | keyvalue: originalOrder" >
        <td>
            <img src="http://acnhapi.com/icons/bugs/{{bug.value['id']}}">
        </td>    
        <td>
            {{bug.value['name']| lowercase}}
        </td>
        <td>
            {{bug.value['location']}} 
        </td>
        <td *ngIf="bug.value['times']['text'] == 'All Day'"> 
            All Day
        </td>
        <td *ngIf="bug.value['times']['text'] !== 'All Day'"> 
            {{bug.value['times']['text']}}
        </td>
        <td *ngIf="bug.value['months']['northern']['text'] == 'Year Round'"> 
            All Day
        </td>
        <td *ngIf="bug.value['months']['northern']['text'] !== 'Year Round'"> 
            {{bug.value['times']['text']}}
        </td>
        <td *ngIf="bug.value['months']['southern']['text'] == 'Year Round'"> 
            All Day
        </td>
        <td *ngIf="bug.value['months']['southern']['text'] !== 'Year Round'"> 
            {{bug.value['times']['text']}}
        </td>
        <td>
            {{bug.value['price']}}
        </td>
        <td>
            {{bug.value['price']*1.5}}
        </td>
    </tr>
    </tbody>
</table>
</div> --> -->