.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13%;
  background:#8DDAC1;
  color: white;
  text-align: center;
}

.date {
  // background-color: #F2C14E;
  padding: 20px 10px 20px 20px;
  margin-right: 0px;
  text-align: right;
  border-radius: 15px;
}

.image {
  width: 13%;
  position:fixed;
  bottom:24px;
  left:4%;
}


h2, h3 {
  font-family: "Roboto", sans-serif;
}
hr {
  border-top: 2px solid #F2C14E;
}
@media only screen and (max-width: 800px) {
  .isabelle {
    display: none;
  }
}