body {
  padding: 50px;
  background-color: #f0f0f0;
  background-image: url('../../assets/images/background.jpg');
}

h4, h3 {
  font-family: 'Nunito', sans-serif;
}

img {
  padding-top: 20px;
  width: 80%;
}

.row {
  width:100%; 
  padding:0px 0px 0px 20px; 
}

.today {
  background-color: white;
  border-radius: 20px;
}

.now, .events, .profile {
  background-color: white;
  border-radius: 20px;
}

.col-lg-7 {
  padding-right: 5px;
}

@media only screen and (max-width: 1000px) {
  img {
    display: none;
  }

  .row {
    width:100%; 
    padding:0px 0px 0px 30px; 
  }

  body {
    padding: 30px;
  }

  .col-lg-7, .events {
    padding-bottom: 30px;
  }

  .col-lg-3 {
    padding-top: 30px;
  }

  .flex-container {
    // padding: 0;
    // margin: 0;
    // list-style: none;
    
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .flex-item:nth-of-type(1) { order: 3; }
  .flex-item:nth-of-type(2) { order: 1; }
  .flex-item:nth-of-type(3) { order: 5; }
  .flex-item:nth-of-type(4) { order: 2; }

}
