// .isabelle {
//   padding: 10px;
//   width: 60%;
// }

// .imageContainer {
//   background-color: palegoldenrod;
//   border-radius: 10px;
//   // position: absolute;
// }

.events {
  // background-color: white;
}

.bg1 {
  background: #fdfd96;
  background: -moz-linear-gradient(90deg, #f0f0f0 50%,#fdfd96 50%);
  background: -webkit-linear-gradient(90deg, #f0f0f0 50%,#fdfd96 50%);
  background: -o-linear-gradient(90deg, #f0f0f0 50%,#fdfd96 50%);
  background: -ms-linear-gradient(90deg, #f0f0f0 50%,#fdfd96 50%);
  background: linear-gradient(180deg,#f0f0f0 50%,#fdfd96 50%);
  border-radius: 15px;
}

.isabelle {
  width: 70%;
  margin: 5%;
}
// .date {
//   background-color: white;
//   border-radius: 15px;
//   padding: 3%;
// }

.profile {
  background-color: white;
  height: 100vh;
}

.nav {
  background-color: seagreen;
  height: 800px;
}

.row {
  margin-left: 0px;
}

.date {
  background-color: #8DDAC1;
  // position: absolute;
  padding: 5%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

// .today {
//   background-color: white;
//   border-radius: 20px;
// }

// .now, .events, .profile {
//   background-color: white;
//   border-radius: 20px;
// }

// .col-lg-7 {
//   padding-right: 5px;
// }

@media only screen and (max-width: 700px) {
  // .isabelle {
  //   display: none;
  // }

  .row {
    margin-right: 0px;
  }

  .date {
    display: none;
  }
  .left {
    margin: 0px;
  }
  // .row {
  //   width:100%; 
  //   padding:0px 0px 0px 30px; 
  // }

  // body {
  //   padding: 30px;
  // }

  // .col-lg-7, .events {
  //   padding-bottom: 30px;
  // }

  // .col-lg-3 {
  //   padding-top: 30px;
  // }

  // .flex-container {
  //   // padding: 0;
  //   // margin: 0;
  //   // list-style: none;
    
  //   -ms-box-orient: horizontal;
  //   display: -webkit-box;
  //   display: -moz-box;
  //   display: -ms-flexbox;
  //   display: -moz-flex;
  //   display: -webkit-flex;
  //   display: flex;
    
  //   -webkit-flex-flow: row wrap;
  //   flex-flow: row wrap;
  // }
  // .flex-item:nth-of-type(1) { order: 3; }
  // .flex-item:nth-of-type(2) { order: 1; }
  // .flex-item:nth-of-type(3) { order: 5; }
  // .flex-item:nth-of-type(4) { order: 2; }

}
