.card-custom .card-title {
  margin-bottom: 1rem;
}

.scroll { 
  width: 100%;
  height: 750px;
  overflow-y: scroll; 
}
.col-sm-5 {
  margin-left: 15px;
}

a {
  margin-top: 3px;
  font-size: 13px;
  color: #007bff;
  font-weight: 600;
  margin-left: 470px;
}

.image {
  width: 13%;
  position:fixed;
  bottom:0px;
  left:79%;
}

h2, h3 {
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 850px) {
  .image{
    display: none;
  }

  a {
    margin-left: 100px;
  }
  .card-title {
    font-size: xx-large;
  }

  .bday {
    text-align: start !important;
  }
}
