<app-nav></app-nav>
<body>
  <div class="container-fluid">
    <div class="row">

        <div class="col-sm-5 scroll">
          <div class="card card-custom my-2">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-8">
                <div class="card-title">Events this Month</div>
                <app-events></app-events>
                </div>
                
                <div class="col-sm-4">
                  <div class="card-title bday text-center">Today's Birthday</div>
                  <app-birthday></app-birthday>
                </div>
              </div>
            <hr>
            <div class="card-title">Current Critters<a class="text-right" href="/critterpedia">See All</a></div>
              <app-current-critters></app-current-critters>
          </div>

          </div>
        </div>

        <div class="col-sm-5">
          <app-profile></app-profile>
        </div>
        
      </div>

    <div class="footer"></div>
    <img class="image" src="assets/images/kk.png">

  </div>
</body>