<div class="critterpedia-search-container">
    <div class="critter-mode">
        <!-- [TODO]: customize tooltips -->
        <!-- [TODO]: cleanup dynamic classes, switching tabs could be cleaner -->
        <button [ngClass]="{'activeMode': critterType == 'fish'}" class="critter-button" (click)="switchTabs('fish')"
            matTooltip="fish" [matTooltipPosition]="'above'">
            <img src="assets/icons/fish-transparent.png">
        </button>
        <button [ngClass]="{'activeMode': critterType == 'bugs'}" class="critter-button" (click)="switchTabs('bugs')"
            matTooltip="bugs" [matTooltipPosition]="'above'">
            <img src="assets/icons/bug-transparent.png">
        </button>
        <button [ngClass]="{'activeMode': critterType == 'sea'}" class="critter-button" (click)="switchTabs('sea')"
            matTooltip="sea creatures" [matTooltipPosition]="'above'">
            <img src="assets/icons/deep-transparent.png">
        </button>
    </div>

    <!-- [TODO]: needs more thought into design -->
    <!-- <div class="critter-search">
        <input id="typeahead-basic" type="text" class="form-control searchbar" [(ngModel)]="model" [ngbTypeahead]="search"
            placeholder="search" />

        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                (change)="availableNow($event)">
            <label class="form-check-label" for="flexSwitchCheckDefault">Available Now</label>
        </div>

        <mat-chip-list class="filter-chips">
            <mat-chip (click)="state1=!state1" [selected]="state1"(selectionChange)="availableNow($event)">Available Now</mat-chip>
          </mat-chip-list>
    </div> -->

</div>