@import "src/styles.scss";

.resident-services-container {
    .banner {
        display: inline-block;
        width: 45%;
        height: 6rem;
        background-color: #e6dfc2;
        color: #815821;
        border-radius: 0 65px 65px 0;

        img {
            height: 8rem;
            margin-left: 2rem;
        }

        span {
            font-size: 3rem;
            margin-left: 3rem;
        }
    }

    .villager-filter {
        display: inline-block;
        margin-left: 5rem;
    }
}

.villager-container {
    margin: 4rem 3rem;
}
