$primary-blue: #007bff;
$aqua: #8ddac1;
$icon-grey: #f0f0f0;

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 13%;
  background-color: $aqua;
}

.card-custom {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-custom .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-custom .card-body {
  padding: 2rem;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  border: none;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

p {
  margin-top: 3px;
  font-size: 13px;
  text-align: center;
  // color: $primary-blue;
  font-weight: 600;
}

mat-card {
  background-color: #fff !important;
}

.scroll {
  overflow-y: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scroll {
  -ms-overflow-style: none;
}

@media only screen and (max-width: 700px) {
  .footer {
    display: none;
  }

  .key {
    margin-left: 0px;
  }

  .dot,
  .dot1,
  .dot2 {
    height: 1em;
    width: 1em;
    margin: 10px;
  }
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

// TODO: replace !importants with custom material theme
.mat-mini-fab.mat-accent {
  border: 1px solid #5f4d3a;
  background-color: #f6f4e7;
}

.mat-dialog-container {
  background-color: #f6f4e7;
  border-radius: 15% !important;
  max-height: 30rem !important;
  min-height: 25rem !important;
  overflow: hidden !important;
  position: relative !important;
}

.mat-mini-fab .mat-button-wrapper > * {
  vertical-align: baseline !important;
}
.critter-dialog .mat-dialog-container {
  background-color: #ebe6ca;
  padding: 1rem;
  color: #825a27;
  border-radius: 5% !important;
  h1 {
    font-family: "Nunito", sans-serif !important;
  }
}

.villager-dialog .mat-dialog-container {
  background-color: #f6f4e7;
  // background-color: #BBEAE0;
  padding: 1rem;
  color: white;
  border-radius: 1% !important;
}

.mat-chip.mat-standard-chip {
  background-color: #f6f4e7 !important;
  border: 1.5px solid #e6dfc2;
  color: #5f4d3a !important;
  font-family: "Nunito", sans-serif !important;
}

.mat-card {
  font-family: "Nunito", sans-serif !important;
}
/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
