$primary-blue: #007bff;
$aqua: #8DDAC1;
$gold: #F2C14E;
$teal: #006D77;
$icon-grey: #f0f0f0;

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 13%;
    background-color: $aqua;
}

.card-custom {
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}
  
.card-custom .card-title {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.5rem;
}

.card-custom .card-body {
    padding: 2rem;
}
  
.form-signin .btn {
    font-size: 80%;
    border-radius: 5rem;
    border: none;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    transition: all 0.2s;
}

p {
    margin-top: 3px;
    font-size: 13px;
    text-align: center;
    color: $primary-blue;
    font-weight: 600;
}


  
  
  
.scroll { 
    overflow-y: scroll; 
}
    
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll::-webkit-scrollbar {
    display: none;
}
    
/* Hide scrollbar for IE and Edge */
.scroll {
    -ms-overflow-style: none;
}
  
p {
    font-family: 'Roboto', sans-serif;
    color: $primary-blue;
    font-weight: 600;
}
  
.key {
  margin-top: 15px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  margin-left: 50%;
  margin-right: auto;
}
  .dot {
    border-radius: 100%;
    height: 2em;
    width: 2em;
    border:solid $aqua;
    // margin:0 10px;
  }
  
  
  @media only screen and (max-width: 700px) {
    .footer {
      display: none;
    }
  
    .key {
      margin-left: 0px;
    }
  
    .dot, .dot1, .dot2 {
      height: 1em;
      width: 1em;
      margin: 10px;
    }
  }