.phone-container {
    .close-fab-container {
        position: absolute;
        right: 45px;
        top: 0;

        #close-dialog-fab {
            position: fixed;

            mat-icon {
                color: #5f4d3a;
            }
        }
    }
    #phone-header {
        margin-bottom: 3rem;
        display: flex;
        font-size: 0.85rem;
        color: #e0dbc8;
        align-items: center;

        .header-flex {
            flex: 1 1 0px;
            text-align: center;
        }

        #date {
            font-family: "Nunito", sans-serif;
        }
    }

    #routeTitle {
        color: #5f4d3a;
        display: block;
        text-align: center;
        font-family: "Nunito", sans-serif;
    }

    #phone-apps {
        margin-top: 3rem;
        display: grid;
        grid-template-rows: repeat(3, 90px);
        grid-template-columns: repeat(3, 90px);
        align-items: stretch;
        row-gap: 20px;
        column-gap: 13px;

        .phone-icon {
            border-radius: 35%;
        }

        .phone-icon:hover {
            transform: scale(1.1);
        }

        #critterpedia-icon {
            background-color: #efa8b2;
        }
    }
}
