<div class="container">
    <h1>{{title}}</h1>

    <div class="nav">
        <img (mouseover)='over("Home")' (mouseout)='out()' class="icon" routerLink="/home" src="assets/TomNook.jpg">
        <img (mouseover)='over("Critterpedia")' (mouseout)='out()' class="icon critterpedia" routerLink="/critterpedia" src="assets/Critterpedia.png">
        <img (mouseover)='over("Museum")' (mouseout)='out()' class="icon" src="assets/ReddsFlag.png">
        <img (mouseover)='over("Passport")' (mouseout)='out()' class="icon" routerLink="/home" src="assets/Passport.png">
        <img (mouseover)='over("Resident Services")' (mouseout)='out()' class="icon" routerLink="/villagers" src="assets/Isabelle.jpg">
        <img (mouseover)='over("Events")' (mouseout)='out()' class="icon" routerLink="/home" src="assets/Calendar.png">
        <img (mouseover)='over("About")' (mouseout)='out()' class="icon" src="assets/Mail.png">
    </div>
</div>


