<div class="container">
    <h1>{{title}}</h1>

    <div class="nav">
        <img (mouseover)='over("Home")' (mouseout)='out()' class="icon" routerLink="/home" src="../../assets/icons/nook-phone/TomNook.jpg" mat-dialog-close>
        <img (mouseover)='over("Critterpedia")' (mouseout)='out()' class="icon critterpedia" routerLink="/critterpedia" src="../../assets/icons/nook-phone/Critterpedia.png" mat-dialog-close>
        <!-- <img (mouseover)='over("Museum")' (mouseout)='out()' class="icon" routerLink="/museum" src="assets/icons/ReddsFlag.png" mat-dialog-close> -->
        <img (mouseover)='over("Passport")' (mouseout)='out()' class="icon" routerLink="/passport" src="../../assets/icons/nook-phone/Passport.png" mat-dialog-close>
        <img (mouseover)='over("Resident Services")' (mouseout)='out()' class="icon" routerLink="/villagers" src="../../assets/icons/nook-phone/Isabelle.jpg" mat-dialog-close>
        <img (mouseover)='over("Events")' (mouseout)='out()' class="icon" routerLink="/events" src="../../assets/icons/nook-phone/Calendar.png" mat-dialog-close>
        <!-- <img (mouseover)='over("About")' (mouseout)='out()' class="icon" src="assets/icons//Mail.png" mat-dialog-close> -->
    </div>
</div>


