<mat-card *ngIf="selectedVillager">
    <div id="header">
        <mat-icon *ngIf="selectedVillager.gender == 'Male'">male</mat-icon>
        <mat-icon *ngIf="selectedVillager.gender == 'Female'">female</mat-icon>
        <span id="title">{{selectedVillager.name | titlecase}}</span>
        <div id="right-aligned">
            <span>{{selectedVillager.birthday}}</span>
        </div>
    </div>

    <hr>

    <div id="museum-info">
        <p>{{selectedVillager.saying}}</p>
    </div>

    <table class="table table-striped">
        <thead>
        </thead>
        <tbody>
            <tr>
                <th scope="row">species</th>
                <td>....................</td>
                <td>{{selectedVillager.species}}</td>
            </tr>
            <tr>
                <th scope="row">personality</th>
                <td>....................</td>
                <td>{{selectedVillager.personality}}</td>
            </tr>
            <!-- maybe instead, do a tooltip on hover with each catch phrase -->
            <!-- <tr>
                <th scope="row">catch phrase</th>
                <td>....................</td>
                <td>{{selectedVillager.catchPhrase}}</td>
            </tr> -->
            <tr>
                <th scope="row">sign</th>
                <td>....................</td>
                <td>{{selectedVillager.sign}}</td>
            </tr>
            <tr>
                <th scope="row">hobby</th>
                <td>....................</td>
                <td>{{selectedVillager.hobby}}</td>
            </tr>
        </tbody>
    </table>

    <img style="width:40%;" src="{{selectedVillager.houseExterior}}">

    <div id="action-buttons">
        <button *ngIf="isAdded" type="button" class="btn btn-primary" (click)="onRemoveClicked()">
            <mat-icon>verified</mat-icon>
            On Island
        </button>

        <button *ngIf="!isAdded" type="button" class="btn btn-primary" (click)="onAddedClicked()">
            Add to Island
        </button>
    </div>

</mat-card>