// .container {

        // background-color: #cdddf9;
        // position: relative;
        // height: 130px;
        // padding: 1rem;
        // .sea {
        //     background-color: #BBEAE0;
        //     background-image: url(../../assets/icons/bg-fish-large.png);
        // }
        // .fish {
        //     background-color: #BBEAE0;
        //     background-image: url(../../assets/icons/bg-fish-large.png);
        // }

        // .bugs {
        //     background-color: #F8F9B4;
        //     background-image: url(../../assets/icons/bg-insect-large.png);
        // }
        // padding-left: .25rem;
        // padding-bottom: .25rem;
        // padding-right: 0;
        //     position: relative;
        
    
    
    .critter-header {
        font-family: "Nunito", sans-serif;
        color: black;
        margin-top: 1rem;
    }

    .meta {
        margin-left: 12.5%;
    }

    table {
        // background-color: lightsteelblue;
        border-radius: 1rem;
        margin-bottom: 0;
        font-family: "Nunito", sans-serif;
        // color: lightsteelblue;

        td {
            border-style: none;
        }

        .text-right {
            font-weight: 800;
        }
    }
// }
