<header>
    <img class="critter-icon" src="{{selectedCritter.iconURI}}">
    <h1>{{selectedCritter.name | titlecase}}</h1>
</header>

<div class="critter-info">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngIf="selectedCritter['availability']['isAllYear']">All Year</mat-chip>
        <mat-chip *ngIf="selectedCritter['availability']['isAllDay']">All Day</mat-chip>
        <mat-chip *ngIf="!selectedCritter['availability']['isAllDay']">{{selectedCritter['availability']['time']}}</mat-chip>
        <mat-chip *ngIf="!selectedCritter['availability']['isAllYear']">{{selectedCritter['availability']['northernMonthString']}}</mat-chip>
        <mat-chip>{{selectedCritter.price}} bells</mat-chip>
        <mat-chip *ngIf="critterpediaMode !== critterType.sea">{{selectedCritter['availability']['rarity']}}</mat-chip>
        <mat-chip *ngIf="critterpediaMode !== critterType.sea">{{selectedCritter['availability']['location']}}</mat-chip>
        <mat-chip *ngIf="critterpediaMode !== critterType.bugs">{{selectedCritter['shadow']}} shadow</mat-chip>
        <mat-chip *ngIf="critterpediaMode === critterType.sea">{{selectedCritter['speed']}}</mat-chip>
    </mat-chip-list>
</div>

<div class="action-buttons">
    <button (click)="onCaughtClicked()">
        <!-- <mat-icon>done</mat-icon> -->
        Caught
      </button>
      <!-- <button mat-fab extended> -->
        <!-- <mat-icon>favorite</mat-icon> -->
        <!-- Donated -->
      <!-- </button> -->
</div>