// [TODO]: Nunito font or Arial Rounded MT Bold
// [TECH-DEBT]: Scss stylesheet
mat-card {
    background-color: #e6dfc2 !important;
    color: #815821;

    #header {
        display: flex;
        align-items: center;

        .mat-icon {
            font-size: 2rem;
            height: auto;
            width: auto;
        }
        #title {
            font-size: 1.75rem;
        }

        #right-aligned {
            margin-left: auto;
            display: inline-block;

            img {
                width: 25%;
                margin-right: 0.25rem;
                vertical-align: bottom;
            }
        }
    }

    #museum-info {
        background-color: #eee5c5;
        border-radius: 20px;
        p {
            text-align: left;
            padding: 1rem;
        }
    }

    table {
        margin-top: 1rem;
        color: #815821;

        th,
        td,
        tr {
            color: #815821;
        }
    }

    #action-buttons {
        text-align: end;
        .btn {
            background-color: darkseagreen;
            border: none;
            margin-left: 1rem;
        }

        .btn:active {
            transform: translateY(4px);
        }
    }
}
